################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPS-API/.vs
/CPS-API/bin
/CPS-API/obj
/CPS-API/CPS-API.csproj.user
