################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CPS-API/.vs
/CPS-API/bin
/CPS-API/obj
/CPS-API/CPS-API.csproj.user
/.vs/content_publicatie_systeem/FileContentIndex/623200e2-350a-49de-8e4d-fd6c2a1793e2.vsidx
/CPS-API/appsettings.Development.json
/CPS-API/publish
/CPS-API/appsettings.Acc.json
/CPS-API/appsettings.Prod.json
/CPS-API/Properties/PublishProfiles/FolderProfile.pubxml.user
/CPS-API/packages
/CPS-ManagementTool/bin
/CPS-ManagementTool/obj
/CPS-ManagementTool/publish/Application Files/CPS-ManagementTool_1_0_0_0
/CPS-ManagementTool/publish
/CPS-ManagementTool/CPS-ManagementTool.csproj.user
/CPS-ManagementTool/CPS-ManagementTool_TemporaryKey.pfx
